*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body{
    background-color: #f4f4f4;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}


.card{
    height: 300px;
    width: 300px;
    margin: 50px auto;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.card-image{
    width: 170px;
    height: 170px;
    border-radius: 50%;
    border: #ccc solid 2px;
    object-fit: cover;
}